<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h3 class="display-3">Thank you for your business!</h3>
        <p class="alert alert-success" role="alert">We charged your credit card for ${{ request.session.total_charge }}</p>
        <p>You have ordered {{ total_item_qty }} items so far and spent ${{ total_spending }} with Amadon.com!</p>
        <p><a href="/">Go Back</a></p>
    </div>
</body>
</html>